

<!DOCTYPE html>

<script>
    var gameTurns = [];
    var AITurn = false
    $(document).ready(function () {
        $('#hResult').hide();
    });

    //triggers on a person clicking any tile on the board
    function tileClick(id) { 
        //only happens if it not they AI's turn
        if (!AITurn) {           
            var arr = document.getElementById(id).src.split("/");
            //check if the board tile has not got a piece on it
            if (arr[arr.length - 1] != "BoardTile.png") {
                return
            }
            //sets the tile that was clicked to have a piece on it
            document.getElementById(id).src = "/Pictures/BoardTileP2.png";  
            P1Turn = true;  
            //makes call to server with the grid coorinates
            $.ajax({
                url: '@Url.Action("HumanMove", "Home")',
                data: {
                    ID: id
                },
                type: 'POST'
            }).done(function(result) {
                if (result.gameEnd) {
                    //shows game result
                    $('#hResult').text(result.result);
                    $('#hResult').show();
                } else {
                    //places AI's tile and makes it the player's turn again
                    document.getElementById(result.moves).src = "/Pictures/BoardTileP1.png";
                    AITurn = false;  
                }               
            }).fail(function (result) {
                alert("An Error has accoured")
            });
        }
    }

    var hoverID
    function tileHover(id) {

    }
</script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    
    <div style="padding:20px; width:455px; height:455px; float:left">
        <table>
            @* generates a fresh 11*11 board *@
            @for (int i = 0; i < 11; i++)
            {
                <tr>
                    @for (int x = 0; x < 11; x++)
                    {
                        string id = i.ToString() + "|" + x.ToString();
                        <td>
                            <img id="@id" src="~/Pictures/BoardTile.png" onmouseover="tileHover(this.id)" onclick="tileClick(this.id)" width="30" height="31" />
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
    <div style="margin-top:50px;">
        <h1 id="hResult" style="float:left;"></h1>
    </div>

</body>
</html>
