
<h3 style="margin-left: 250px;">Select Game Mode</h3>
<div style="margin:40px; width:100%;">
    <button onclick="location.href='@Url.Action("NewMatchPVA", "Home")'" style="float:left; margin-left: 100px;">Player VS AI</button>
    <button onclick="location.href='@Url.Action("NewMatchAVA", "Home")'" style="float:right; margin-right: 200px;">AI VS AI</button>
</div>